<!-- note: all the variables are from main.ejs file -->
<!-- DOM element of header -->
<div class="header">
        <%- include('../../public/components/menu-btn.ejs') %> 
        <!-- <div class="search-bar">
               <input type="text" class="message-input" placeholder="Search for course">
                <div class="examly-search">
                        <h3>Examly library</h3>
                </div>
        </div> -->
        <%- include('../../public/components/theme-btn.ejs') %>

</div>