<!-- pass the title of card as variable called header and description as description -->

<div class="card-outer" id="<%=header%> " onclick="cardslistenr(this)">
        <div class="card-header"><h1><%=header%></h1> </div>
        <div class="card-description">
                <%=description %>  
        </div>
</div>

<script>
        function cardslistenr(card){
                if (window.location.toString().includes('explore')){
                        window.location.href = `/courses/${card.id.trim()}`
                }
                if (window.location.toString().includes('courses')) {
                        window.location.href += `/exams/${card.id.trim()}`
                }
        }
</script>

<!-- styles -->
<style>

</style>