<!-- pass the title of card as variable called header and description as description -->
<div class="outer">
        <div class="card-header"><h1><%=header %></h1> </div>
        <div class="card-description">
                <%=description %>  
        </div>
</div>


<!-- styles -->
<style>
.outer {
        background-color: var(--primary-color);
        box-shadow: 1px 1px 10px -2px black;
        display: inline-flex;
        flex-direction: column;
        width: 300px;
        height: 120px;
        padding: 20px;
        transition: 0.2s;
        border: var(--border);        
        border-top: solid 4px #FFD622;
        border-radius: 5px;

}

.outer:hover{
        transform: translateY(-10px);
}
.outer .card-header {
        color: var(--text-color);
        width: 100%;
        height: 40px;
        font-size: 0.8em;
        }
.outer .card-description {
        color: gray;
        width: 100%;
}
</style>