<% quizzes = null %> 
<div class="course-container">

        <%-include('cards-slider.ejs',{title:'Quizzes',type:'exam',cards:quizzes} ) %>
        <%-include('cards-slider.ejs',{title:'Major Exams',type:'exam',cards:quizzes} ) %>
        <%-include('cards-slider.ejs',{title:'Mid-term Exams',type:'exam',cards:quizzes} ) %>

</div>