<div id="signuppopup-tick" class="popup">
    <!--  <div class="close-btn">&times;</div>>  -->
    <div class="close-btn" onclick="terminalPopup()" data-closable>
      <span aria-hidden="true">&times;</span>
    </div>
    <form action="/signuppopup-tick" method="post">
      <div class="form">
        <div class="successfuly-img">
          <img class="tick-img" src="/images/tick-mark.png"alt="tick-Password-img">
        </div>
        <h2>Thanks For Join Us</h2>
        <h4>Your have been successfuly Register with us !</h4>
        <div class="form-elemnet">
          <button class="Continue-btn" type="button" name="button" onclick="closeSignupPopupTick()">Continue</button>
        </div>
      </div>
    </form>
  </div>