<div class="users-container">
    <h1>Admin Sign In Page</h1>
    <form action="/explore" method="post">
            <div class="container">
              <div class="imgcontainer">
                <img src="/images/771188_man_512x512.png" alt="Avatar" class="avatar">
              </div>
              
              <div class="form-elemnet">
                <label class="email-lable" for="email">Email</label>
                <input class="email" type="email" name="email" placeholder="Enter email" required>
              </div>
              <div class="form-elemnet">
                <label class="password-lable" for="password">Password</label>
                <input class="password" type="password" name="password" placeholder="Enter password" required>
              </div>
              <div class="form-elemnet">
                <input type="submit" value="Sign In"></input>
              </div>
              <div class="form-elemnet register-para" >
                <p>If you don't remember your password we will redirect you to the home page. For help call 0551234567</p>
                <!-- <a class="sign-in-link" href="file:///C:/Users/alza3/Web%20Dev-Workspace/practice-node.js/index.html#">Sign In now</a> -->
              </div>
            </div> 
          </form> 
</div>
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  --content-area-bg-webkit: -webkit-linear-gradient(142deg, #c2bceb 0%, #eeeded 50%);
  --content-area-bg:linear-gradient(180deg, #c2bceb 2%, #eeeded 40%);

}
form {border: 3px solid #f1f1f1;}
.form-elemnet{
  text-align: left;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.users-container{
  width: 40%;
  align-items: center;
  margin: auto;
  text-align: center;
}
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 20%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>