                          
.popup{
    position: absolute;
    top: -150%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    background-color: #f5f5f5;
    width: 380px;
    padding: 20px 30px;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: transform 0.4s, center 0.4s;
    visibility: hidden;
    z-index: 1;
  }
  
  .open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    background-color: #f5f5f5;
  }
  .close-btn{
    height: 15px;
    text-align: right;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
  }
  
  .popup form .form h2{
    text-align: center;
    margin: 10px 0px 20px;
    font-size: 25px;
    color: #8854C0;
  }
  
  .popup form .form h4{
    text-align: center;
    margin: 10px 0px 20px;
    font-size: 14px;
  }
  .popup>form>.form>.form-elemnet{
    margin: 15px;
  }
  .password-lable, .email-lable,.Fname-label ,.Lname-label {
    font-size: 15px;
  }
  
  .popup>form>.form>.form-elemnet> input[type="email"],
  .popup>form>.form>.form-elemnet> input[type="Fname"],
  .popup>form>.form>.form-elemnet> input[type="Lname"],
  .popup>form>.form>.form-elemnet> input[type="password"]{
    display: block;
    outline: none;
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    border: 1px solid #aaa;
    border-radius: 5px;
  
  }
  
  .forgot-password{
    margin: 5px;
  }
  
  .Signin-btn, .send-btn, .Continue-btn{
    width: 100%;
    height: 40%;
    font-size: 16px;
    color: #f5f5f5;
    background: #8854C0;
    border-radius: 10px;
    border: 0px;
    padding: 5px;
    cursor: pointer;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  }
  
  .sign-up-link,.sign-in-link, .forgot-password{
    display:inline;
    text-align: left;
    font-size: 15px;
    font-weight: 600;

    cursor:pointer;
    color:blue;
    text-decoration:underline;
  }
  .sign-up-link, .sign-in-link{
    margin-left: 5px;
  }
  .register-para{
    display: flex;
    width: 100%;
  }
  
  .forgot-img{
    text-align: center;
    height: 150px;
  }
  .tick-img{
    /* height: 130px; */
    /* width:180px; */
    width: 50%;
    /* margin-top: -135px; */
    margin-top: -8.59375vw;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* transform: translate translate(48%, 5%); */
    margin-left: 6.40625vw;
  }
  .examly-logo{
    text-align: center;
    height: 80px;
    transform: translate(145%, 5%) scale(1.1);
  
  }
