.explore-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        flex-direction: column;
}

.explore-flex {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
}

#explore-container-topic {
        margin: 1rem auto 8vh auto;
        font-size: 14vh;
        font-weight: 600;
        background-image: linear-gradient(to left, #553c9a, #b393d3);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
}

#head-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: left;
        margin: 3vh auto 4vh auto;
        width: 100%;
}

img {
        height: 40vh;
        margin: auto;
}

.inner-col-content {
        margin: auto 15vh auto 5vh;
}

#inner-1 {
        margin: 0 15vh auto 1vh;
        padding: 0px auto auto 0px;
}

#inner-2 {
        margin: auto 20vh auto 5vh;
        padding: auto;
        margin: auto;
}

#head-pargraph {
        text-align: justify;
        letter-spacing: 3px;
        font: 4vh Arial, Helvetica, sans-serif;
        color: var(--text-color);
}