<div class="explore-container course-page">

        <div class="explore-flex">
                <%-include(".. /../public/components/course-page.ejs",{type:'courses', cards:null})%>

        </div>
</div>