<div class="aboutUs-container">

        <!-- <h1>About Us</h1> -->
        <div class="inner-content">
    
        <div class="aboutUs-content">        
        <h1 id="heading-aboutUs">Who are we?</h1>
            <div class="para">
                <p>
                        We are an 5 empition members that get togather us one group which aim to enhance themself in
                         web development as well as having a good UI and UX design. 
                        We came by thought to develope a website that helps other student to
                        test themself to know if they studied well or not. 
                </p>        
            </div>
        <h1 id="heading-aim">What are we looking For Users?</h1>
            <div class="para">
                <p>
                        We are an 5 empition members that get togather us one group which aim to enhance themself in
                        web development as well as having a good UI and UX design. 
                        We came by thought to develope a website that helps other student to
                        test themself to know if they studied well or not. 
                </p>     
            </div>
        <h1 id="heading-membersInfo">Meet Our Team</h1>          
         
        </div>
    
        <div class="info-container">
                <h4>Naif Alluhaidan</h4>
    
                    <img class="twitter-icon" src="https://cdn-icons-png.flaticon.com/512/3128/3128212.png" alt="twitter-icon">    
                    <p class="twitter-name">
                        @Naif Alluhaidan
                    </p>
    
                    <img class="linkin-icon" src="https://cdn-icons-png.flaticon.com/512/1384/1384014.png" alt="linkin-icon">    
                     <p class="linkin-name">
                        @Naif-Alluhaidan
                    </p>   
        </div>
    
        <div class="info-container">
                <h4>khalid alabbas</h4>
    
                    <img class="twitter-icon" src="https://cdn-icons-png.flaticon.com/512/3128/3128212.png" alt="twitter-icon">    
                    <p class="twitter-name">
                        @khalid-alabbas
                    </p>
    
                    <img class="linkin-icon" src="https://cdn-icons-png.flaticon.com/512/1384/1384014.png" alt="linkin-icon">    
                     <p class="linkin-name">
                        @khalid-alabbas
                    </p>   
        </div>
    
        <div class="info-container">
                <h4>Naif Alluhaidan</h4>
    
                    <img class="twitter-icon" src="https://cdn-icons-png.flaticon.com/512/3128/3128212.png" alt="twitter-icon">    
                    <p class="twitter-name">
                        @Naif Alluhaidan
                    </p>
    
                    <img class="linkin-icon" src="https://cdn-icons-png.flaticon.com/512/1384/1384014.png" alt="linkin-icon">    
                     <p class="linkin-name">
                        @Naif-Alluhaidan
                    </p>   
        </div>
    
        <div class="info-container">
                <h4>Naif Alluhaidan</h4>
    
                    <img class="twitter-icon" src="https://cdn-icons-png.flaticon.com/512/3128/3128212.png" alt="twitter-icon">    
                    <p class="twitter-name">
                        @Naif Alluhaidan
                    </p>
    
                    <img class="linkin-icon" src="https://cdn-icons-png.flaticon.com/512/1384/1384014.png" alt="linkin-icon">    
                     <p class="linkin-name">
                        @Naif-Alluhaidan
                    </p>   
        </div>
    
        <div class="info-container">
                <h4>Naif Alluhaidan</h4>
    
                    <img class="twitter-icon" src="https://cdn-icons-png.flaticon.com/512/3128/3128212.png" alt="twitter-icon">    
                    <p class="twitter-name">
                        @Naif Alluhaidan
                    </p>
    
                    <img class="linkin-icon" src="https://cdn-icons-png.flaticon.com/512/1384/1384014.png" alt="linkin-icon">    
                     <p class="linkin-name">
                        @Naif-Alluhaidan
                    </p>   
        </div>
    
        <div class="info-container">
                <h4>Naif Alluhaidan</h4>
    
                    <img class="twitter-icon" src="https://cdn-icons-png.flaticon.com/512/3128/3128212.png" alt="twitter-icon">    
                    <p class="twitter-name">
                        @Naif Alluhaidan
                    </p>
    
                    <img class="linkin-icon" src="https://cdn-icons-png.flaticon.com/512/1384/1384014.png" alt="linkin-icon">    
                     <p class="linkin-name">
                        @Naif-Alluhaidan
                    </p>   
        </div>
    
        </div>
    </div>
    