<div class="aboutUs-container">

        <h1>About Us</h1>

</div>
<!-- style -->
<style>
        .aboutUs-container {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
        }
</style>