<link rel="stylesheet" href="../css/pages/explore.css">

<div class="explore-container">
        <div id="head-content">
                                <div class="inner-col-content" id="inner-1"> 
                                        <h1  id="explore-container-topic">Explore</h1>
                                        <h2 id="head-pargraph">Explore the courses and select what you will study today 🔥🧠!<span> </span><h2>
                                </div>
                                <div class="inner-col-content" id="inner-2">
                                        <img src="/images/Office-Chillout.png">
                                </div>
                </div>
        

        <div class="explore-flex">
                <%- include("../../public/components/cards-slider.ejs",{department:"Mathimatics", header:'MATH191', description:'integeral and integraions'})%>
                <%- include("../../public/components/cards-slider.ejs",{department:"ICS", header:'ICS102', description:'programming languages'})%>

        </div>
</div>