<link rel="stylesheet" href="../css/pages/explore.css">

<div class="subpage1">

        <div class="explore-container">

                        <div id="head-content">
                                <div class="inner-col-content" id="inner-1"> 
                                        <h1  id="explore-container-topic">Explore</h1>
                                        <h2 id="head-pargraph">Explore the courses and select what you will study today 🔥🧠!<span> </span><h2>
                                </div>
                                <div class="inner-col-content" id="inner-2">
                                        <img src="/images/Office-Chillout.png">
                                </div>
                </div>
        

        <div class="explore-flex">
                <% departments.forEach((el)=>{%>
                        <%-include("../../public/components/cards-slider.ejs",{type:'courses',title:el.department, cards:el.courses})%>
                <%}) %> 
                

        </div>
        </div>



</div>

<div id="course-page">

        <div class="explore-container">

        <div class="explore-flex">
        <%-include("../../public/components/course-page.ejs",{type:'exam', cards:null})%>

        </div>
</div>
</div>
