<!-- <div class="requests-container">
<table>



                <tr>

                        <th>#</th>
                        <th>User Name</th>
                        <th>Course Name</th>
                        <th>View the exam </th>
                        <th>aprove</th>
                        <th>BAN</th>
                </tr>
                <tr>
                        <td>1</td>
                        <td>khalid</td>
                        <td>math101</td>
                        <td><button>View</button></td>
                        <td><button class="approve">Approve</button></td>
                        <td><button class="ban">Ban</button></td>
                </tr>
        </table>
        </div> -->