<div class="settings-container">
        <h1>Settings</h1>
</div>

<!-- style -->
<style>
        .settings-container {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
        }
</style>