.header {
        min-height: 30px;
        display: flex;
        align-items: center;
        padding: 0px 25px;
        box-shadow: 0 3px 6px -5px black;
        z-index: 1;
        background-color: var(--header-bg-color);
        height: 5%;
        font-size: 1.1em;
        justify-content: space-between;
}

.header .search-bar {
        margin: 8px;
        border-radius: 40px;
        height: 85%;
        display: flex;
        align-items: center;
        padding: 0px 5px;
        border: var(--border);
        width: 100%;
        max-width: 600px;
}

.header .search-bar input {
        display: flex;
        border-radius: 10px;
        border: none;
        width: 80%;
        height: 80%;
        padding-left: 14px;
        font-family: Arial, Helvetica, sans-serif;
        color: var(--sidebar-text-color);
        background-color: transparent;
        margin-right: auto;
}

.examly-search {
        border-left: solid 2px gray;
        background: transparent;
        padding-left: 8px;
        width: 120px;
        color: var(--sidebar-text-color);
        white-space: nowrap;
        font-size: 0.70em;
        padding-left: 0 auto;
        display: none;
}




/* menu btn styles in menu-btn component */